<header>
   <div class="flexbox">
  
      <div class="Knopf"> 
         <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
            <mat-menu #menu="matMenu">
                  <button mat-menu-item><mat-icon>person filed</mat-icon>Mein Kalender</button>
                  <button mat-menu-item><mat-icon>nightlight</mat-icon>Nachtmodus</button>
                  <button mat-menu-item><mat-icon>language</mat-icon>Sprache ändern</button>
                  <button mat-menu-item><mat-icon>event-upcoming</mat-icon>Kalendar einbinden</button>
                  <button mat-menu-item><mat-icon>share</mat-icon>Kalender teilen</button>
                  <button mat-menu-item><mat-icon>info</mat-icon>Information</button>
            </mat-menu>
      </div> 
      <div class="mitte">
         <div class="search-box">
            <mat-icon>search</mat-icon>
         <input class="search-txt" type="text" id="suche" name="" placeholder="suchen..." onkeydown="Event_Key();">
            <a class="search-btn" href="#" onclick="suchen()">
               <i class="fas fa-search"></i>
            </a>
         </div>
         <h1 class="name">Kalender
            
         </h1>
      </div>
         

      <div>
         <button class="add"><mat-icon>add</mat-icon></button>
      </div>
      
   </div>

   <script type="text/javascript"> 
      function suchen(){
         var s = document.getElementById("suche").value;
         windows.location = "https://www.google.de/search?q=" + s ;
            }
       function Event_Key(){
         if(event.KeyCode == 13) {suchen();}            
         }      
      </script> 


</header>