header{
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.1);
    background-color: white;
    overflow: hidden;
    h1 {
        text-align: center;
    }
    button{
    background-color: transparent;
    position: absolute;    
    border: 0px;
    border-radius: 100%;
   

    &:hover{
        background-color: rgba(0,0,0, 0.15);
    }
    }

    .suche {
        width: 10em;
        border: 0px;
        border-bottom: 2px solid #999;
        font-size: 1.2em;
        transition: width 0.5s ease-in-out;
      }
       
      .suche:focus {
        font-size: 1.5em;
        width: 50%;
      }
}