    <mat-tab-group dynamicHeight>
        <mat-tab label="Tag">
          <div class="example-large-box mat-elevation-z4"> </div>
        </mat-tab>
        <mat-tab label="Woche">
          <div class="example-large-box mat-elevation-z4">
            Wochensicht 
          </div>
        </mat-tab>
        <mat-tab label="Monat">
            <div class="example-large-box mat-elevation-z4">
              Monatssicht
            </div>
          </mat-tab>
          <mat-tab label="Jahr">
            <div class="example-large-box mat-elevation-z4">
              Jahressicht
            </div>
          </mat-tab>
      </mat-tab-group>
