.example-large-box {
    display: flex;
    align-items:center;
    justify-content:space-between;
    background-color: whitesmoke;
    height: 600px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    }
    

  ::ng-deep .mat-tab-label {
    width: 25%;
    height:auto
  }

  ::ng-deep .list{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 5px;
    background: rgb(178, 196, 112);
    border-radius: 20px;
    height: 600px;
    width: 24%;

    .leiste{

      display: flex;
      align-items: center;
      justify-content: center;

      background-color:rgba(0,0,0, 0.15);
      border-radius: 15px;
      width: 95%;
      height: 40px;
      margin-top: 10px;

          .add-eintrag{
            background-color: rgb(178, 196, 112);
            border: 0px; 
            border-radius: 40px;
            width: 33px;
            height: 33px;
              &:hover{
                background-color: rgb(129, 148, 60);
            }
          
        }
      }
    }

      .h1{
              margin-top: 20px;
              color: rgba(100, 100, 100, 1.0);
              font-family: 'Poppins', sans-serif;
            }
  .tag-box{
    width:  75%;
  }


  .monat-box{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding-left: 5x;
    width: 150%/4;
 
  }

  .stunde{
  background: rgba(0,0,0, 0.05);
  font-family: 'Poppins', sans-serif;
  border-radius: 40px;
  margin: 5px;
  padding-left: 5px;
  height: 20px;
  width: 100%;

  &:hover{
    background-color:rgba(0,0,0, 0.15); 
  }
  }

  ::ng-deep.Woche-box{
    justify-content:space-around;
    align-items:center ;
    height: 600px ;
    width: 100%;
  
  }
  .tgw{
    background: rgba(0,0,0, 0.05);
    font-family: 'Poppins', sans-serif;
    margin:1px;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.1);
    padding-left: 9px;
    height: 650px;
    text-align:center;
    
    
    &:hover{
      background-color:rgba(0,0,0, 0.15);
    }
    }

    #addNewEvent {
      display: none;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 20px var(--shadow-color);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 10;
      padding: 20px;
      width: 450px;
      min-width: 250px;
  }

  #modalTitle {
    margin-bottom: 20px;
}

#eventModal label {
    font-weight: bold;
    display: inline-block;
    margin: 20px 10px 5px 0px;
}

.shortInput {
    border-bottom: 1px solid var(--grid-color);
    padding: 2px 1px;
}

.shortInput:focus {
    border-bottom: 1px solid var(--font-color);
}

#eventTitle {
    width: 95% !important;
}

#eventStart {
    margin-right: 10px;
}

#eventEnd {
    margin-left: 10px;
}

#eventDescription {
    border: 1px solid var(--grid-color);
    width: 95% !important;
    height: 170px;
    min-height: 40px;
    resize: vertical;
    padding: 4px;
}

#eventDescription:focus {
    border: 1px solid var(--font-color);
}

#eventControls {
    margin: 25px 0px 10px 0px;
}

.button {
    padding: 10px 20px;
    background-color: var(--color-blue);
    color: white;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 2px;
}

.button:hover,
.button:focus {
    opacity: 0.8;
}

  
