    <mat-tab-group dynamicHeight>

        <mat-tab label="Tag">
          <div class="example-large-box mat-elevation-z4"> 
            

            <div class="tag-box">
              <div class="stunden">
                <div class="stunde">1</div>
                <div class="stunde">2</div>
                <div class="stunde">3</div>
                <div class="stunde">4</div>
                <div class="stunde">5</div>
                <div class="stunde">6</div>
                <div class="stunde">7</div>
                <div class="stunde">8</div>
                <div class="stunde">9</div>
                <div class="stunde">10</div>
                <div class="stunde">11</div>
                <div class="stunde">12</div>
                <div class="stunde">13</div>
                <div class="stunde">14</div>
                <div class="stunde">15</div>
                <div class="stunde">16</div>
                <div class="stunde">17</div>
                <div class="stunde">18</div>
                <div class="stunde">19</div>
                <div class="stunde">20</div>
                <div class="stunde">21</div>
                <div class="stunde">22</div>
                <div class="stunde">23</div>
                <div class="stunde">0</div>


              </div>

            </div>

            <div class="list">
               <div class="leiste">
                      <h1>Einträge</h1>
                      <div class="plus">
                        <button class="add-eintrag"><mat-icon>add</mat-icon></button>
                      </div>
             </div>
            </div>

          </div>
        </mat-tab>

        <mat-tab label="Woche">
          <div class="example-flex-box mat-elevation-z4"> 
                <table>
                  <colgroup>
                    <col>
                    <col span="2" class="Stunden" >
                    <col span="2" class="Montag">
                    <col span="2" class="Dienstag">
                    <col span="2" class="Mittwoch">
                    <col span="2" class="Donnerstag">
                    <col span="2" class="Freitag">
                    <col span="2" class="Samstag">
                    <col span="2" class="Sonntag">
                </colgroup>
                  <tr>
                    <th scope="col">Stunden</th>
                    <th scope="col">Montag</th>
                    <th scope="col">Dienstag</th>
                    <th scope="col">Mittwoch</th>
                    <th scope="col">Donnerstag</th>
                    <th scope="col">Freitag</th>
                    <th scope="col">Samstag</th>
                    <th scope="col">Sonntag</th>
                  </tr>
                 <tr><td>1</td></tr>
                 <tr><td>2</td></tr>
                 <tr><td>3</td></tr>
                 <tr><td>4</td></tr>
                 <tr><td>5</td></tr>
                 <tr><td>6</td></tr>
                 <tr><td>7</td></tr>
                 <tr><td>8</td></tr>
                 <tr><td>9</td></tr>
                 <tr><td>10</td></tr>
                 <tr><td>11</td></tr>
                 <tr><td>12</td></tr>
                 <tr><td>13</td></tr>
                 <tr><td>14</td></tr>
                 <tr><td>15</td></tr>
                 <tr><td>16</td></tr>
                 <tr><td>17</td></tr>
                 <tr><td>18</td></tr>
                 <tr><td>19</td></tr>
                 <tr><td>20</td></tr>
                 <tr><td>21</td></tr>
                 <tr><td>22</td></tr>
                 <tr><td>23</td></tr>
                 <tr><td>0</td></tr>

                </table>
          </div>
        </mat-tab>

          <mat-tab label="Monat">
            <div class="example-large-box mat-elevation-z4">
            </div>
          </mat-tab>

          <mat-tab label="Jahr">
            <div class="example-large-box mat-elevation-z4">
            </div>
          </mat-tab>

      </mat-tab-group>
