    <mat-tab-group dynamicHeight>

        <mat-tab label="Tag">
          <div class="example-large-box mat-elevation-z4"> 
            

            <div class="tag-box">

              <div class="stunden">
                
                <div class="stunde">1</div>
                <div class="stunde">2</div>
                <div class="stunde">3</div>
                <div class="stunde">4</div>
                <div class="stunde">5</div>
                <div class="stunde">6</div>
                <div class="stunde">7</div>
                <div class="stunde">8</div>
                <div class="stunde">9</div>
                <div class="stunde">10</div>
                <div class="stunde">11</div>
                <div class="stunde">12</div>
                <div class="stunde">13</div>
                <div class="stunde">14</div>
                <div class="stunde">15</div>
                <div class="stunde">16</div>
                <div class="stunde">17</div>
                <div class="stunde">18</div>
                <div class="stunde">19</div>
                <div class="stunde">20</div>
                <div class="stunde">21</div>
                <div class="stunde">22</div>
                <div class="stunde">23</div>
                <div class="stunde">0</div>


              </div>

            </div>

            <div class="list">
               <div class="leiste">
                      <h1>Einträge</h1>
                      <div class="plus">
                        <button class="add-eintrag"><mat-icon>add</mat-icon></button>
                      </div>
             </div>
            </div>

          </div>
        </mat-tab>

        <mat-tab label="Woche">
          <div class="example-large-box mat-elevation-z4"> 
          </div>
          </mat-tab>

          <mat-tab label="Monat">
            <div class="example-large-box mat-elevation-z4">

              <div class="monat-box"></div>
              <div class="Tag">1</div>
              <div class="Tag">2</div>
              <div class="Tag">3</div>
              <div class="Tag">4</div>
              <div class="Tag">5</div>
              <div class="Tag">6</div>
              <div class="Tag">7</div>
              <div class="Tag">8</div>
              <div class="Tag">9</div>
              <div class="Tag">10</div>
              <div class="Tag">11</div>
              <div class="Tag">12</div>
              <div class="Tag">13</div>
              <div class="Tag">14</div>
              <div class="Tag">15</div>
              <div class="Tag">16</div>
              <div class="Tag">17</div>
              <div class="Tag">18</div>
              <div class="Tag">19</div>
              <div class="Tag">20</div>
              <div class="Tag">21</div>
              <div class="Tag">22</div>
              <div class="Tag">23</div>
              <div class="Tag">24</div>
              <div class="Tag">25</div>
              <div class="Tag">26</div>
              <div class="Tag">27</div>
              <div class="Tag">28</div>
              <div class="Tag">29</div>
              <div class="Tag">30</div>
              <div class="Tag">31</div>
            
            </div>
          </mat-tab>

          <mat-tab label="Monat">
            <div class="example-large-box mat-elevation-z4">

              <div class="monat-box">
              <div class="Tag">1</div>
              <div class="Tag">2</div>
              <div class="Tag">3</div>
              <div class="Tag">4</div>
              <div class="Tag">5</div>
              <div class="Tag">6</div>
              <div class="Tag">7</div>
              <div class="Tag">8</div>
              <div class="Tag">9</div>
              <div class="Tag">10</div>
              <div class="Tag">11</div>
              <div class="Tag">12</div>
              <div class="Tag">13</div>
              <div class="Tag">14</div>
              <div class="Tag">15</div>
              <div class="Tag">16</div>
              <div class="Tag">17</div>
              <div class="Tag">18</div>
              <div class="Tag">19</div>
              <div class="Tag">20</div>
              <div class="Tag">21</div>
              <div class="Tag">22</div>
              <div class="Tag">23</div>
              <div class="Tag">24</div>
              <div class="Tag">25</div>
              <div class="Tag">26</div>
              <div class="Tag">27</div>
              <div class="Tag">28</div>
              <div class="Tag">29</div>
              <div class="Tag">30</div>
              <div class="Tag">31</div>
            </div>
            </div>
          </mat-tab>


          <mat-tab label="Jahr">
            <div class="example-large-box mat-elevation-z4">
            </div>
          </mat-tab>

      </mat-tab-group>
